<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ page.title }}</title>

<meta name="description" content="Design, publish, share, and monetize customer facing AI apps with Cycls" />
<meta property="og:title" content="Cycls – Generative UI for your AI" />
<meta property="og:description" content="Design, publish, share, and monetize customer facing AI apps with Cycls" />
<meta property="og:image" content="https://cycls.github.io/website/img/index-preview.png" />
<meta property="og:url" content="https://Cycls.com/" />

<link rel="icon" href="img/favicon.ico" type="image/x-icon">

<script src="https://cdn.tailwindcss.com"></script>

<script src="script.js"></script>
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Cycls",
    "url": "https://cycls.com/"
}
</script>
<link href="https://fonts.cdnfonts.com/css/bromny-black" rel="stylesheet">
<style>
</style>
  
<!-- <script>
document.addEventListener('DOMContentLoaded',function(){
function loadContent(filePath,targetElementId){fetch(filePath).then(response => response.text()).then(data =>{document.getElementById(targetElementId).innerHTML = data;}).catch(error => console.error('Error loading content:', error));}

loadContent('header.html','header');
loadContent('footer.html','footer');
loadContent('index-content.html','index-content');
});
</script> -->
</head>
  
<body class="bg-gray-50">

{% include header.html %}
{{ content }}
{% include footer.html %}

</body>
</html>
